<%# single tag page%>
<div class="container">
    <div class="post-wrap tags">
        <h2 class="post-title">-&nbsp;标签&nbsp;·&nbsp;<%-page.tag%>&nbsp;-</h2>
    </div>
    <%- partial('archive', {pagination: config.tag, index: true}) %>
</div>