.tag-cloud-tags 
  margin: 10px 0
  padding-top 2em
  a 
    display: inline-block
    position: relative
    margin: 5px 10px
    word-wrap: break-word
    transition-duration: .3s
    transition-property: transform
    transition-timing-function: ease-out
    &:active,
    &:focus,
    &:hover 
      color: $light-global-link-hover-color
      transform: scale(1.1)
    small
      margin 0 .3em
      color: $light-font-secondary-color
  @media (prefers-color-scheme: dark)
    a
      &:active,
      &:focus,
      &:hover 
        color: $dark-global-link-hover-color
      small
        color: $dark-global-link-hover-color