header
  user-select none
  .menu
    display flex
    align-items center
    a
      padding 0 8px
      .active
        font-weight 900
        color $light-navbar-active-color
        .dark-theme &
          color $dark-navbar-active-color
    label
      margin-left 15px
      position relative
    