.search-result-list
    padding: 0;
    max-height: 100%;
    overflow: auto;
    border-radius: 5px;
.search-result-list::-webkit-scrollbar
    width: 0;
.search-result-list>li
    background-color: white;
    width: calc(100% - 20px);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
.search-result-list>li>a
    font-weight: 700;
    font-size: 18px;
    padding 10px;
    display: block;
.search-result-list>li>p
    margin: 0;
    padding 0 10px 10px 10px;
.search-result-list>li>a
    padding: 10px;
    margin-top: 0
.search-keyword
    color: #fa3a3a
